html{
    color: white;
    font-size: 100px;
    font-family: 'Do Hyeon', sans-serif;
    background-image: url(../imagens/mapa-fundo.png);
}

#central{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    text-shadow: 
        -1px -1px 0 black,
         0px -1px 0 black,
         1px -1px 0 black,
        -1px  0px 0 black,
         1px  0px 0 black,
        -1px  1px 0 black,
         0px  1px 0 black,
         1px  1px 0 black,
        -2px  0px 0 black,
         2px  0px 0 black,
         0px -2px 0 black,
         0px  2px 0 black;
}

#central span{
    font-size: 50px;
}

#central #inputs{

    width: 65%;
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#central #botaoenviar{
    font-family: 'Do Hyeon', sans-serif;
}

#cepinput{
    width: 100%;
    height: 40px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 40px;
}

#inputs form{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

#infosusuario{
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border-radius: 50px;
    border: solid 4px black;
    width: 60%;
    padding: 50px;
}

#infosusuario span{
    font-size: 30px;
}
